/*=============================================
=                  General                    =
=============================================*/

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

button:focus {
    outline: none;
}

/*=============================================
=                  Navbar                     =
=============================================*/

.navbar {
    box-shadow: 0 3px 18px rgba(0, 0, 0, .11);
}

/*=============================================
=                  Header                     =
=============================================*/
/* TODO: 加入背景圖片 */
#header {
    background-image: url('../img/圖.jpg');
    /*  讓圖片不重複排列  */
    background-size: cover;
    padding: 100px 0;
    border-radius: 0px;
    margin-bottom: 0px;
    height: 600px;
    /*  把圖固定在後面  */
    background-attachment: fixed;
    position: relative;
}

#header:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(150, 151, 72, 0.4);
    display: block;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
}

#header>.container {
    position: relative;
    z-index: 5;
}

/*=============================================
=                  Intro                      =
=============================================*/
.intro-box {
    border-radius: 15px;
    margin-bottom: 15px;
    transition: all .5s ease-out;
    padding: 15px 15px;
    text-align: center;
}

.intro-box:hover {
    background: white;
    box-shadow: 0px 22px 22px rgba(0,0,0,.25);
}

.intro-line {
    width: 20px;
    height: 6px;
    border-radius: 3px;
    margin: 10px auto;
    transition: all .5s ease;
}

.intro-box:hover .intro-line {
    width: 40px;
}

/*=============================================
=                  Features                   =
=============================================*/

/*=============================================
=                  Reviews                    =
=============================================*/

/*=============================================
=                  Gallery                    =
=============================================*/

/* TODO: 設定Hover特效 */

[id^='galleryImage'] {
    background-size: cover;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: grayscale(100%);
    transition: all .5s ease;
}

[id^='galleryImage']>.gallery-text {
    color: white;
    font-weight: 700;
    text-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    text-align: center;
    transition: all .5s ease;
}

[id^='galleryImage']:hover {
    filter: grayscale(0%);
}

/*[id^='galleryImage']:hover>.gallery-text {
    
}

/* 放入背景圖片 */

#galleryImage1 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/椅子渲染圖.43.jpg');
}

#galleryImage2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/QQ.jpg');
}

#galleryImage3 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/SS.jpg');
}

#galleryImage4 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/ssss.jpg');
}

#galleryImage5 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/aswww.jpg');
}

#galleryImage6 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/106088297_576356653076591_5050553603571313099_n.jpg');
}

#galleryImage7 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/untitled.34.jpg');
}

#galleryImage8 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/94701014_554375408835215_8995285784261033984_n.jpg');
}

/*=============================================
=                  Start Now                  =
=============================================*/

/*=============================================
=                   Footer                    =
=============================================*/

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-end p {
    font-size: 8px;
    margin: 0;
}

#goBackBtn {
    width: 40px;
    height: 40px;
    border:none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    border-radius: 50%;
}

/*=============================================
=                   AD-BOX                    =
=============================================*/

.ad-box {
    width: 300px;
    position: fixed;
    right: -275px;
    bottom: 80px;
    z-index: 100;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
}

.ad-box.active {
    right: 0px;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.ad-toggle-btn {
    width: 25px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
}

.ad-toggle-btn>i {
    transform: rotateZ(90deg);
}

.ad-toggle-btn:hover {
    color: #666;
}

.right-part {
    padding: 10px;
}

.right-part>p{
    margin-bottom: 0;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.model {
    background-image: url('../img/QQ.jpg') ;
    position: absolute;
    height:600px;
    width: 1000px;
    left: 1000px;
    background-size:cover;
}

.sw1 {
    font-size: 80px;
    margin-top: 0px;
    margin-left: 0px;
}

.sw2 {
    font-size: 40px;
    margin-top: 0px;
    margin-left: 0px;
}

.model2 {
    background-image: url('../img/d.jpg') ;
    position: absolute;
    height:600px;
    width: 1000px;
    left: 1000px;
    background-size:cover;
}

.sw12 {
    font-size: 80px;
    margin-top: 700px;
    margin-left: 0px;
}

.sw22 {
    font-size: 40px;
    margin-top: 0px;
    margin-left: 0px;
}


.model3 {
    background-image: url('../img/QQ.jpg') ;
    position: absolute;
    height:600px;
    width: 1000px;
    left: 1000px;
    background-size:cover;
}

.sw13 {
    font-size: 80px;
    margin-top: 700px;
    margin-left: 0px;
}

.sw23 {
    font-size: 40px;
    margin-top: 0px;
    margin-left: 0px;
}